<h2 class="text-center mt-3 mb-3">Products</h2>
<table class="table table-sm table-striped table-bordered text-center">
  <thead>
    <td>Id</td>
    <td>Name</td>
    <td>Category</td>
    <td>Price</td>
    <td>Controls</td>
  </thead>
  <tbody>
    <tr *ngFor="let product of products">
      <td>{{ product.id }}</td>
      <td>{{ product.name }}</td>
      <td>{{ product.category }}</td>
      <td>{{ product.price | currency }}</td>
      <td>
        <button class="btn btn-warning mr-1"
                [routerLink]="'/admin/home/products/edit/' + product.id">Edit</button>
        <button class="btn btn-danger"
                (click)="deleteProduct(product.id)">Delete</button>
      </td>
    </tr>
  </tbody>
</table>
<button class="btn btn-primary"
        routerLink="/admin/home/products/create">Create New Product</button>