<div class="container-fluid">
  <div class="row bg-dark">
    <div class="container">
      <div class="cart__header-link col text-white">
        <a routerLink="" class="navbar-brand">SPORT-STORE</a>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col text-center">
      Your Cart
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <table class="table table-striped table-bordered text-center">
        <thead>
          <tr>
            <td>Quantity</td>
            <td>Product</td>
            <td>Price</td>
            <td>Subtotal</td>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <td class="text-right" colspan="3">Total</td>
            <td>{{ cartService.subtotal | currency }}</td>
          </tr>
        </tfoot>
        <tbody>
          <tr *ngFor="let line of cartService.orderLineList">
            <td>
              <span (click)="minus(line)">-</span>
              {{ line.quantity }}
              <span (click)="plus(line)">+</span>
            </td>
            <td>{{ line.product }}</td>
            <td>{{ line.price | currency }}</td>
            <td>{{ line.subtotal | currency }}</td>
            <td>
              <button class="btn btn-danger" (click)="removeLine(line)">Remove</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-12 text-center">
      <button routerLink="" class="btn btn-primary mr-1">Continue Shopping</button>
      <button class="btn btn-secondary" (click)="addOrder(cartService.orderLineList)">Checkout</button>
    </div>
  </div>
</div>