.cart {
  &__header {
    &-link {
      padding-top: 20px;
      padding-bottom: 20px;
      color: #fff;
    }
  }
  &__amount {
    &-value {
      display: inline-block;
    }
    &-buttons {
      display: inline-block;
      width: 20px;
      height: 20px;
      line-height: 20px;
      background-color: #dee2e6;
      vertical-align: middle;
      cursor: pointer;
    }
  }
}