<div class="container-fluid">
  <div class="row">
    <div class="col bg-dark text-white">
      <a class="navbar-brand">SPORT-STORE</a>
    </div>
  </div>
  <div class="row">
    <div class="col-3 col-md-2 p-2">
      <button routerLink="" class="btn btn-block btn-outline-primary">Home</button>
      <button routerLink="/admin/login" class="btn btn-block btn-danger m-t-3">Admin</button>
    </div>
    <div class="col-9 col-md-10">
      <div *ngFor="let product of products" class="card m-2 p-1 bg-light">
        <h4>
          {{ product.name }}
          <span class="badge badge-pill badge-primary float-right">
            {{ product.price }}
          </span>
        </h4>
        <div class="card-text bg-white p-1">
          {{ product.description }}
          <button class="btn btn-success btn-sm float-right">
            Add To Cart
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
