<div class="container-fluid">
  <div class="row bg-dark">
    <div class="container">
      <div class="col text-white pt-3 pb-3">
        <a routerLink="/admin/home" class="store-title navbar-brand">SPORT-STORE Admin</a>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-3 col-md-2 p-2">
      <button routerLink="/admin/home/products" class="btn btn-block btn-outline-primary">Products</button>
      <button routerLink="/admin/home/orders" class="btn btn-block btn-outline-primary">Orders</button>
      <button routerLink="" class="btn btn-block btn-danger m-t-3">Logout</button>
    </div>
    <div class="col-9 col-md-10">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>